.owl-carousel {
  touch-action: manipulation;
}
@media (max-width: 991px) {
  .our-clients .owl-carousel .slide-arrow {
    display: none;
  }
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover {
  background: none !important;
}
/* ================================== */
.testimonials .owl-carousel .owl-nav .owl-prev,
.testimonials .owl-carousel .owl-nav .owl-next {
  position: relative;
  background: none;
  bottom: 0;
}

.testimonials .owl-carousel .slide-arrow {
  border: none;
  color: #fff;
  background-color: transparent;
}
.testimonials .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: 30%;
}
.testimonials .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 30%;
}
.testimonials .owl-theme .owl-nav {
  margin-top: 40px;
}

.testimonials .owl-theme .owl-dots .owl-dot span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.testimonials .owl-theme .owl-dots .owl-dot.active span,
.testimonials .owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .testimonials .owl-carousel .owl-nav .owl-prev {
    left: 10%;
  }
  .testimonials .owl-carousel .owl-nav .owl-next {
    right: 10%;
  }
}
