@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@font-face {
  font-family: myfont;
  src: url(../webfonts/alfont_com_Brando-Arabic-Text.otf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

:root {
  --main-color: #16e965;
  --white-color: #ffff;
  --gray-color: #adadad;
  --black-color: #040404;
}
body {
  font-family: "Cairo", sans-serif;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  box-shadow: none !important;
  outline: none;
  border: none;
}

.btn-pill {
  background-color: var(--main-color);
  padding: 8px 40px;
  font-size: 25.89px;
  font-weight: 500;
}
/* start header ------- */
.header {
  background-image: url(../images/shape.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000 !important;
}
.header .nav-item .logo img {
  width: 150px;
}
.header .nav-item .list li a {
  color: var(--gray-color);
}
.header .nav-item .list li a.active {
  color: var(--main-color);
  border-bottom: solid 2px var(--main-color);
  font-weight: 600;
  display: inline-block;
}
.header .nav-item .list li {
  padding: 0 20px 0 0;
}
.header .title h2 {
  color: var(--white-color);
  font-size: 62px;
  line-height: 1.3;
}
.header .title h2 span {
  color: var(--main-color);
}
.header .title button {
  background-color: var(--main-color);
  font-size: 18px;
}
.header .login a:last-child {
  background-color: var(--main-color);
  font-weight: 500;
}
@media (min-width: 1200px) {
  .header .nav-item .list li {
    padding: 0 40px 0 0;
  }
}
@media (max-width: 991px) {
  .header {
    height: auto;
    background-position: center;
  }
  .header .nav-item .list li a {
    color: var(--black-color);
    margin-bottom: 20px;
  }
  .header .title h2 {
    font-size: 32px;
  }
  .header .login a:first-child {
    color: var(--black-color) !important;
  }
  .header .img-box {
    position: static !important;
  }
}
/* end header ------- */

/* start about-us ------- */
.about-us {
  background-color: var(--black-color);
  position: relative;
}
.about-us h4 {
  color: var(--main-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 55.16px;
  text-transform: uppercase;
}
.about-us p {
  font-size: 22px;
  font-weight: 400;
  line-height: 40.16px;
}
@media (max-width: 991px) {
  .about-us h4 {
    font-size: 30px;
  }
  .about-us p {
    font-size: 18px;
  }
}
/* end about-us ------- */

/* satrt sync-works */
.sync-works .title h2 {
  background-color: var(--main-color);
  font-weight: 500;
}
.sync-works .left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../images/left.png);
  background-size: cover;
  height: 700px;
  width: 400px;
  z-index: -1;
}
.sync-works .right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../images/right.png);
  background-size: cover;
  height: 700px;
  width: 300px;
  z-index: -1;
}

.btn-pill {
  background-color: var(--main-color);
  font-size: 18px;
}
.sync-works .works h4,
.sync-works .works p {
  font-size: 35.37px;
  font-weight: 700;
}

@media (max-width: 991px) {
  .sync-works .works h4,
  .sync-works .works p {
    font-size: 25px !important;
    font-weight: 600;
  }
}
/* end sync-works */

/* start things-happen --- */
.things-happen .bg-happen {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #f3f3f3;
}
.things-happen .desc h3 {
  font-size: 32px;
  font-weight: 700;
}
.things-happen .desc p {
  font-weight: 500;
  font-size: 18px;
}
.things-happen .desc button {
  background-color: var(--main-color);
  font-size: 16px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 991px) {
  .things-happen .desc h3 {
    font-size: 19px;
  }
}
/* end things-happen --- */

/* end contact-us */

/* satrt footer ----------- */
.footer {
  background-color: var(--black-color);
  border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
}
.footer .logo img {
  width: 150px;
}
.footer .list li a {
  text-decoration: underline;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.footer .contact-us h5 {
  background-color: var(--main-color);
  font-weight: 600;
}
.footer .contact-us p {
  color: var(--white-color);
  font-size: 16px;
}
/* end footer ----------- */
